@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blob {
    0%, 100% {
      border-radius: 40% 60% 65% 35% / 55% 45% 55% 45%;
    }
    50% {
      border-radius: 60% 40% 35% 65% / 45% 55% 45% 55%;
    }
  }
  
  .blob {
    animation: blob 6s infinite;
    transition: all 0.3s ease-in-out;
  }
  